@font-face {
  font-family: Helvetica, sans-serif;
  src: '../fonts/helvetica.woff2';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Helvetica-Bold, sans-serif;
  src: '../fonts/Helvetica-Bold.ttf';
  font-style: normal;
  font-weight: 700;
}
