.features {
  margin-top: 100px;
  margin-bottom: 100px;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  width: 330px;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tabs__btn-item {
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--active {
    color: #070707;
  }
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  position: absolute;
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 0;

  &--active {
    opacity: 1;
    height: auto;
    position: relative;
  }
}

.video {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  width: 280px;
  height: 150px;
  background-image: url(../images/content-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 9px;
}

.video span {
  font-size: 13px;
  color: #f6f4f5;
}

.video__btn {
  margin-left: 22px;
  margin-bottom: 9px;
}

.tabs__content-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.tabs__content-img {
  grid-row: 1/-1;
  align-self: stretch;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .tabs {
    display: block;
  }
  .tabs__btn {
    display: block;
    column-count: 2;
  }
  .tabs__btn-item {
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .features__titles {
    display: block;
  }
  .tabs__content-item {
    display: block;
  }
  .video {
    margin-top: 10px;
    width: auto;
    height: 250px;
  }
}

@media screen and (max-width: 420px) {
  .tabs__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-count: 1;
    margin-bottom: 10px;
  }
  .features__text {
    font-size: 30px;
  }

  .features__title {
    margin-bottom: 10px;
  }
}
