.games {
  margin-bottom: 100px;
}

.games__title {
  margin-bottom: 50px;
}

.games__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.games__descr {
  padding-right: 10px;
}

.games__descr-title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.games__descr-text {
  margin-bottom: 30px;
}

.games__link {
  display: inline-block;
  text-align: center;
  width: 225px;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}

.games__item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 22px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}

.games__item-img {
  margin-bottom: 10px;
}

.games__item-title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}

.games__item-text {
  margin-bottom: 40px;
}

.games__item-link {
  margin-top: auto;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 992px) {
  .games__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 568px) {
  .games__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
